<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="centrar">
      Iniciar Sesion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>                 

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="centrar">
          Iniciar Sesion
        </ion-card-title>
        <div class="user">
          <img src="../../assets/images/pngegg.png" alt="" >
        </div>
      </ion-card-header>


      <form [formGroup]="ionicForm" (ngSubmit)="iniciar()">
        <ion-item>
          <ion-label position="floating" for="email">User Name</ion-label>
          <ion-input type="text" id="email" formControlName="email" required minlength="10"></ion-input>
        </ion-item>
        <!-- password -->
        <ion-item>
          <ion-label position="floating" for="password">Password</ion-label>
          <ion-input type="password" id="password" formControlName="password" required minlength="9"></ion-input>
        </ion-item>
        <!-- submit -->
        <ion-button ion-button type="submit" block>Submit</ion-button>
      </form>
    </ion-card>


    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>Dark Mode</ion-label>
        <ion-toggle slot="end"
                    [ngModel]="checkDarkMode"
                    (ionChange)="darkMode()"
                    ></ion-toggle>
      </ion-item>
    </ion-list>
    <!-- alerta -->
    <!-- <span class=" error ion-padding" *ngIf="errorControl.name.errors?.required && estaActivado">
      Email es requerido
    </span> -->
  </div>
</ion-content>
